.footer-map {
    max-width: 1200px;
}

.container-map {
    /*border-radius: ;*/
    -webkit-box-shadow: 0 0 3px 2px rgba(206, 222, 224, 0.73);
    -moz-box-shadow: 0 0 3px 2px rgba(206, 222, 224, 0.73);
    box-shadow: 0 0 5px 3px rgba(206, 222, 224, 0.73);
}

.container-map .map {
    overflow: hidden;
    height: 350px;
}

.container-map .map iframe {
    width: 100%;
    height: 100%;
}

.container-map .title-map {
    font-size: 30px;
}

.content-map .triangle-down-left {
    width: 25%;
    height: 150px;
    margin: 0 25px 5px 0;
    float: left;
    shape-outside: polygon(16% 0%, 73% 50%, 0% 50%);
    -webkit-shape-outside: polygon(16% 0%, 73% 50%, 0% 50%);
}

.content-map .triangle-down-right {
    width: 25%;
    height: 150px;
    margin: 0 0 5px 25px;
    float: right;
    shape-outside: polygon(22% 50%, 84% 0%, 100% 50%);
    -webkit-shape-outside: polygon(22% 50%, 84% 0%, 100% 50%);
}

.copyright {
    border-right: 1px solid #77777747;
    color: #777777;
}

.footer-bottom {
    border-bottom: 2px solid #bbbbbb;
}

.content-map .phoneNumber {
    color: #00b1e1;
}

.content-map .address {
    color: #777777;
}

@media only screen and (max-width: 768px) {

    .content-map .triangle-down-left {
        height: 100px;
    }

    .content-map .triangle-down-right {
        height: 100px;
    }
}

/*-------------------------------------------------MESSAGE------------------------------------*/

.position_mes {
    transform: translate(-20px, -93px);
    animation-duration: .3s;
}


.position_mes .btn_mes {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.23);
}

.position_mes:not(.active) .btn_mes {
    transform: translate(0, 0);
    background: #00b1e1 url("./../../../../assests/images/footer/mess.png") no-repeat center;
    background-size: auto;
}

.position_mes.active .btn_mes {
    transform: translate(0, -400px);
}

.position_mes.active .btn_mes:after {
    position: absolute;
    content: '\f078';
    right: 0;
    bottom: 0;
    width: 65px;
    height: 65px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    background: #00b1e1 center;
    background-size: auto;

}


.position_mes .custom_popover {
    bottom: 0;
    right: 0;
    width: 225px;
    height: 70px;
    border-radius: 6px;
    padding: 10px 21px;
    background-color: #ffffff;
    transform: translate(-90px, 3px);
    box-shadow: 3px 3px 20px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 3px 3px 20px -1px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 3px 3px 20px -1px rgba(0, 0, 0, 0.21);
}

.position_mes.active .custom_popover{
    transform: translate(0, 400px);
}

.position_mes .custom_popover .custom_popover-content {
    letter-spacing: normal;
    color: #777777;
}

.position_mes .custom_popover .arrow, .custom_popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.position_mes .custom_popover .arrow {
    top: 50%;
    right: -19px;
    margin-top: -11px;
    border-left-color: #fff;
    border-width: 11px;
}


.position_mes .content-mes {
    width: 290px;
    height: 0px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #00B1E1;
    box-shadow: 3px 3px 20px -1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 3px 3px 20px -1px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 3px 3px 20px -1px rgba(0, 0, 0, 0.21);
}

.position_mes.active .content-mes {
    height: 390px;
}

.position_mes .content-mes .header-mes {
    padding: 19px 0;
}

.position_mes .content-mes .header-mes .opacity-btn_mes {
    width: 37px;
    height: 37px;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.23);
    background: #0c9ac1 url("./../../../../assests/images/footer/mess.png") no-repeat center;
    background-size: 22px;
    position: relative;
}

.position_mes .content-mes .header-mes .opacity-btn_mes:after {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00b1e185;
    border-radius: 50%;
}


.position_mes .content-mes .body-mes {
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: calc(100% - 70px);
    padding: 11px 15px;
}

.position_mes .content-mes .body-mes input, .content-mes .body-mes textarea {
    width: 100%;
    resize: none;
    font-size: 11px;
    min-height: 38px;
    overflow: hidden;
    padding: 6px 5px;
    margin: 7px auto;
    position: relative;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: 1px solid #e8e8e8;
}

.position_mes .content-mes .body-mes input[name="email"] {
    border-left: 2px solid #ff4b4bcc;
}

.position_mes .content-mes .body-mes input::placeholder,
.position_mes .content-mes .body-mes textarea::placeholder {
    color: #000000 !important;
    font-size: 11px;
}

.position_mes .content-mes .body-mes button {
    font-size: 10px;
    border: none;
    border-radius: 2px;
    padding: 3px 12px;
}

