/*BGVideo*/
section.video{
    margin-bottom: -10px;
}
.container-video {
    overflow: hidden;
}

.container-video video {
    min-width: 100%;
}

.content-video {
    height: 100%;
    top: 0;
    background-color: #404e5bcc;
    padding: 6rem 3rem;
}

.content-video .container {
    padding: 3rem 0 0 0;
}

.content-video .container .custom_width_title {
    width: 65%;
    font-size: 2.9rem;
}

.content-video .container .custom_width_content {
    width: 85%;
    font-size: 1.3rem;
}

.content-video .container button {
    font-size: 0.8rem;
}

@media only screen and (max-width: 767px) {
    .content-video {
        padding: 15% 0 0 0;
        height: 98%;
    }

    .container-video {
        max-height: 60vh;
    }

    .container-video video {
        max-height: 300px;
        object-fit: cover;
    }

    .content-video .custom_content {
        width: 66%;
    }

    .content-video .custom_content:nth-child(3) {
        display: none;
    }

    .content-video .container {
        padding: 0.5rem 1rem;
    }

    .content-video .container .custom_width_title {
        width: 80%;
        font-size: 1rem;
    }

    .content-video .container .custom_width_content {
        width: 90%;
        font-size: 0.7rem;
    }

    .content-video .container button, .content-video .container .new_title {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .content-video {
        padding: 11% 0 0 0;
        height: 98.5%;
    }

    .container-video {
        max-height: 60vh;
    }

    .container-video video {
        width: 100%;
    }

    .content-video .custom_content {
        width: 66%;
    }

    .content-video .custom_content:nth-child(3) {
        display: none;
    }

    .content-video .container {
        /*padding: 0 1rem;*/
    }

    .content-video .container .custom_width_title {
        width: 70%;
        font-size: 2rem;
    }

    .content-video .container .custom_width_content {
        width: 90%;
        font-size: 0.9rem;
    }

    .content-video .container button {
        font-size: 0.6rem;
    }
}

@media only screen and (min-width: 990px) {
    .container-video {
        max-height: 100vh;
    }

    .container-video video {
        width: 100%;
    }


    /*.content-video .container {*/
    /*    padding: 0;*/
    /*}*/

    .content-video .container .custom_width_title {
        width: 70%;
        font-size: 2.6rem;
    }

    .content-video .container .custom_width_content {
        width: 90%;
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    .content-video {
        height: 99%;
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    .content-video {
        height: 100%;
    }

    .content-video .container .custom_width_title {
        width: 70%;
        font-size: 3.1rem;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .content-video {
        height: 100%;
    }

    .content-video .container .custom_width_title {
        width: 65%;
        font-size: 4rem;
    }

    .content-video .container .custom_width_content {
        width: 80%;
        font-size: 1.5rem;
    }

    .content-video .container button {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1700px) {
    .content-video .container .custom_width_title {
        width: 57%;
        font-size: 3.7rem;
    }

    .content-video .container .custom_width_content {
        width: 80%;
        font-size: 1.6rem;
    }
}

