.security {
    background-image: url("../../../../../../assests/images/whysna/img3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.security .container {
    padding: 4rem 0;
}

.security .security_content {
    width: 60%;
    color: #777777;
}

.security_item img {
    width: 90px;
    height: 90px;
}

.security_item .security_item_title {
    font-size: 26px;
}

.security_item .security_item_content {
    font-size: 13px;
    color: #777777;
    text-align: justify;
}


@media only screen and (max-width: 768px) {
    .security .security_content {
        width: 80%;
    }
}
