
.container_map {
    width: 1024px;
    height: 500px;
}

.container_map svg{
    z-index: 2;
}

.container_map svg .line{
    stroke-dashoffset: 1000;
    animation: dash 20s linear forwards;
}

.content_map {
    width: 1024px;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@media only screen
and (max-device-width: 1023px) {
    .container_map {
        display: none;
    }
}

@media only screen
and (max-device-width: 1024px)
and (orientation: landscape) {
    .container_map {
        display: none;
    }
}