.portfolio-container figure {
    margin: 0 !important;
    padding: 0;
}

.portfolio-container img {
    display: block;
    max-width: 100%;
}

.portfolio-container .my-shuffle-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
}

.portfolio-container .my-sizer-element {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.portfolio-container .picture-item img {
    display: block;
    width: 100%;
}

@supports (object-fit: cover) {
    .portfolio-container .picture-item img {
        max-width: none;
        height: 100%;
        object-fit: cover;
    }
}

.portfolio-container .picture-item__inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #ecf0f1;
}

.portfolio-container .picture-item__inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: #00b1e1d1;
    transition: all 0.5s ease 0s;
}

.portfolio-container .picture-item__inner:hover:before {
    opacity: 1;
}

.portfolio-container .picture-item__tags {
    flex-shrink: 1;
    text-align: right;
    margin: 0;
}

@media screen and (min-width: 768px) {

    .portfolio-container .picture-item--overlay a {
        color: white;
        text-shadow: 0 0 1px black;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-container .picture-item {
        height: auto;
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio-container .btn {
        font-size: 0.875rem;
    }
}


/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.portfolio-container .aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.portfolio-container .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.portfolio-container .aspect--16x9 {
    /*padding-bottom: 56.25%;*/
    padding-bottom: 100%;
}

.portfolio-container .col-1\@xs, .portfolio-container .col-2\@xs, .portfolio-container .col-3\@xs, .portfolio-container .col-4\@xs, .portfolio-container .col-5\@xs, .portfolio-container .col-6\@xs,
.portfolio-container .col-1\@sm, .portfolio-container .col-2\@sm, .portfolio-container .col-3\@sm, .portfolio-container .col-4\@sm, .portfolio-container .col-5\@sm, .portfolio-container .col-6\@sm,
.portfolio-container .col-7\@sm, .portfolio-container .col-8\@sm, .portfolio-container .col-9\@sm, .portfolio-container .col-10\@sm, .portfolio-container .col-11\@sm, .portfolio-container .col-12\@sm,
.portfolio-container .col-1\@md, .portfolio-container .col-2\@md, .portfolio-container .col-3\@md, .portfolio-container .col-4\@md, .portfolio-container .col-5\@md, .portfolio-container .col-6\@md,
.portfolio-container .col-7\@md, .portfolio-container .col-8\@md, .portfolio-container .col-9\@md, .portfolio-container .col-10\@md, .portfolio-container .col-11\@md, .portfolio-container .col-12\@md {
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

.portfolio-container .col-1\@xs,
.portfolio-container .col-2\@xs,
.portfolio-container .col-3\@xs,
.portfolio-container .col-4\@xs,
.portfolio-container .col-5\@xs,
.portfolio-container .col-6\@xs {
    float: left;
}

.portfolio-container .col-1\@xs {
    width: 16.66667%;
}

.portfolio-container .col-2\@xs {
    width: 33.33333%;
}

.portfolio-container .col-3\@xs {
    width: 50%;
}

.portfolio-container .col-4\@xs {
    width: 66.66667%;
}

.portfolio-container .col-5\@xs {
    width: 83.33333%;
}

.portfolio-container .col-6\@xs {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .portfolio-container .col-1\@sm,
    .portfolio-container .col-2\@sm,
    .portfolio-container .col-3\@sm,
    .portfolio-container .col-4\@sm,
    .portfolio-container .col-5\@sm,
    .portfolio-container .col-6\@sm,
    .portfolio-container .col-7\@sm,
    .portfolio-container .col-8\@sm,
    .portfolio-container .col-9\@sm,
    .portfolio-container .col-10\@sm,
    .portfolio-container .col-11\@sm,
    .portfolio-container .col-12\@sm {
        float: left;
    }

    .portfolio-container .col-1\@sm {
        width: 8.33333%;
    }

    .portfolio-container .col-2\@sm {
        width: 16.66667%;
    }

    .portfolio-container .col-3\@sm {
        width: 25%;
    }

    .portfolio-container .col-4\@sm {
        width: 33.33333%;
    }

    .portfolio-container .col-5\@sm {
        width: 41.66667%;
    }

    .portfolio-container .col-6\@sm {
        width: 50%;
    }

    .portfolio-container .col-7\@sm {
        width: 58.33333%;
    }

    .portfolio-container .col-8\@sm {
        width: 66.66667%;
    }

    .portfolio-container .col-9\@sm {
        width: 75%;
    }

    .portfolio-container .col-10\@sm {
        width: 83.33333%;
    }

    .portfolio-container .col-11\@sm {
        width: 91.66667%;
    }

    .portfolio-container .col-12\@sm {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .portfolio-container .col-1\@md, .portfolio-container .col-2\@md, .portfolio-container .col-3\@md,
    .portfolio-container .col-4\@md, .portfolio-container .col-5\@md, .portfolio-container .col-6\@md,
    .portfolio-container .col-7\@md, .portfolio-container .col-8\@md, .portfolio-container .col-9\@md,
    .portfolio-container .col-10\@md, .portfolio-container .col-11\@md, .portfolio-container .col-12\@md {
        float: left;
    }

    .portfolio-container .col-1\@md {
        width: 8.33333%;
    }

    .portfolio-container .col-2\@md {
        width: 16.66667%;
    }

    .portfolio-container .col-3\@md {
        width: 25%;
    }

    .portfolio-container .col-4\@md {
        width: 33.33333%;
    }

    .portfolio-container .col-5\@md {
        width: 41.66667%;
    }

    .portfolio-container .col-6\@md {
        width: 50%;
    }

    .portfolio-container .col-7\@md {
        width: 58.33333%;
    }

    .portfolio-container .col-8\@md {
        width: 66.66667%;
    }

    .portfolio-container .col-9\@md {
        width: 75%;
    }

    .portfolio-container .col-10\@md {
        width: 83.33333%;
    }

    .portfolio-container .col-11\@md {
        width: 91.66667%;
    }

    .portfolio-container .col-12\@md {
        width: 100%;
    }
}


.folio-title {
    bottom: 50px;
    left: 50px;
    position: absolute;
}

.folio-title {
    overflow: hidden;
}

.folio-title hr,
.folio-title h2,
.folio-title p {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.percent-25 .folio-title h2 {
    font-size: 24px;
}

.folio-title h2,
.folio-title p {
    opacity: 0;
    position: relative;
    left: -180px;
    color: #ffffff;
}

.folio-title p {
    font-size: 16px;
    line-height: 1;
}

.picture-item:hover .folio-title h2,
.picture-item:hover .folio-title p {
    left: 0;
    opacity: 1;
}

/*.picture-item .folio-title h2:hover {*/
/*    color: #ccceee;*/
/*}*/

.folio-title hr {
    border-color: #fff;
    border-width: 2px;
    margin: 10px 0 0;
    width: 0;
}

.picture-item:hover .folio-title hr {
    width: 100px;
}

.controls {
    max-width: 980px;
}

.controls span.active{
    color:#ffffff;
    background-color:#00b1e1;
}
