.chooseUs .custom_content {
    color: #403e3d;
    width: 75%;
}

.chooseUs .chooseUs-item {
    border: 2px solid #f7f7f7;
    background-color: #fbfbfb;
    position: relative;
}


.chooseUs .chooseUs-item:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    height: calc(100% + 4px);
    border-left: 4px solid #00b1e1;
}

.chooseUs .item-title {
    font-size: 20px;
}

.chooseUs .item-content {
    font-size: 13px;
}


@media only screen and (max-width: 768px) {
    .chooseUs .custom_content {
        width: 100%;
    }

    .chooseUs .item-title {
        font-size: 17px;
    }

    .chooseUs .item-content {
        font-size: 11px;
    }
}
