.custom_title_card {
    font-size: 1.5rem;
    color: #00b1e1;
    font-family: 'Roboto Light';
}

.container-offshoreImg {
    overflow: hidden;
}

.container-offshoreImg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: #000000bf;
}

.container-offshoreImg:hover:before {
    opacity: 1;
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.container-offshoreImg .containerBack-offshoreImg {
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    opacity: 0;
    background-color: #00b1e1d1;
    border-radius: 50%;
    text-align: center;
    padding-top: 16px;
}

.container-offshoreImg:hover .containerBack-offshoreImg {
    -webkit-animation: scale-up-center-icon 0.2s ;
    animation: scale-up-center-icon 0.2s ;
    opacity: 1;
}


.containerBack-offshoreImg i {
    color: #616161;
    font-size: 16px;
}


@-webkit-keyframes scale-up-center {
    0% {
        top: -100%;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        top: -100%;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        top: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes scale-up-center-icon {
    0% {
        top:-50%;
    }
    100% {
        top:50%;
    }
}

@keyframes scale-up-center-icon {
    0% {
        top:-50%;
    }
    100% {
        top:50%;
    }
}
